<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AWBD Auction</title>

    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/5.3.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/font-awesome/6.4.0/css/all.min.css"/>
    <style>
        .inline-container {
            display: inline-flex;
            align-items: center;
            margin-left: 20px;
            margin-right: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="nav-link" th:href="@{'/'}"> <i class="fas fa-home mx-1"></i>  </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto topnav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/courses'}">Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/courses/myCourses/' + ${user.getId()}}">My Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-primary" th:href="@{'/product/form'}">
                        <i class="fas fa-plus-circle"></i> Add course
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" th:text="'Hello ' + ${username}"> Username </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:text="'Lv. ' + ${user.getLevel()}"> 100 </a>
                </li>
                <li class="nav-item">
                    <div class="inline-container">
                        <i class="fa-solid fa-dollar-sign"></i>
                        <a class="nav-link" th:text="${user.getCurrency()}"> 100 </a>
                    </div>
                </li>
                <li class="nav-item">
                    <form id="logout-form" th:action="@{/logout}" method="post">
                        <button type="submit" class="nav-link btn-primary">
                            <i class="fas fa-sign-out-alt"></i>
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</div>
<form enctype="multipart/form-data" method="post" th:action="@{/courses}" th:object="${course}">
<div class="container">
<!--    <h th:text="${course.title}">Course 1</h>-->
    <input th:field="*{id}" type="hidden"/>
    <input th:field="*{description}" type="hidden"/>
    <input th:field="*{type}" type="hidden"/>
    <input th:field="*{totalProgress}" type="hidden"/>
    <div class="form-row">
        <input class="form-control" th:field="*{title}" type="text" placeholder="product name"/>
    </div>
<!--    <table class="table table-hover ">-->
<!--        <thead class="thead-inverse">-->
<!--        <tr>-->
<!--            <th>ID</th>-->
<!--            <th>Title</th>-->
<!--            <th>Description</th>-->
<!--            <th>Level required</th>-->
<!--            <th>Cost</th>-->
<!--            <th>Total progress</th>-->
<!--            <th></th>-->
<!--            <th></th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tr th:each="course, stat : ${courses}"-->
<!--            th:class="${stat.odd}? 'table-light':''">-->
<!--            <td th:text="${course.id}">1</td>-->
<!--            <td th:text="${course.title}">Product 1</td>-->
<!--            <td th:text="${course.description}">Description</td>-->
<!--            <td th:text="${course.levelRequired}">Level required</td>-->
<!--            <td th:text="${course.cost}">Cost</td>-->
<!--            <td th:text="${course.totalProgress}">Total progress</td>-->
<!--            <td><a href="#" th:href="@{'/product/edit/' + ${course.id}}"><i class="fa-solid fa-pen"></i></a></td>-->
<!--            <td><a href="#" th:href="@{'/product/delete/' + ${course.id}}"><i class="fa-solid fa-trash"></i></a></td>-->
<!--        </tr>-->

<!--    </table>-->
    <div class="row">
        <div class="col-md-1 ml-md-auto">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
        <div class="col-md-1 ml-md-auto">
            <button class="btn btn-primary" th:href="@{'/courses'}">Back</button>
        </div>
    </div>
</div>
</form>

</body>
</html>
